@{
    ViewData["Title"] = "Home Page";
}
@model Employee

<button id="btnCheck">Check</button>

<div id="contanerDiv">
    <input type="text" id="writings" />
</div>

<p id="result"></p>

<a href="https://www.google.com" id="GoogleLink" target="_blank">Go to Google</a>

@* ------------------------------------------------------------------------------------------ *@

<div class="divTest">This is my div </div>

<br />
<br />
<br />
<br />

<div class="divTest">This is div </div>

@* ------------------------------------------------------------------------------------------ *@

<button id="btnRemove" class="btn btn-danger">Hide And Remove div</button>

<button id="btnAddText" class="btn btn-primary d-inline">Add Text For div Empty</button>

<button id="btnRemoveContains" class="btn btn-primary d-inline text-sm-center w-25">Remove paragraph contains 'sssssssssssssss'</button>


<div id="removableDiv">this div removable click button</div>

<div id="divRemove">
    <p>paragraph</p>
</div>
<div id="divEmpty">
    <p>paragraph test</p>
</div>

<p>paragraph sssssssssssssss</p>
@* ------------------------------------------------------------------------------------------ *@

<button id="btnChangeClass" class="btn btn-primary">Change a class for items</button>
<div class="test" style="border-radius:20px;">this a div </div>
<p class="test1">this a paragraph</p>
<a class="test2" href="#">Linkkkkk</a>

<button id="closebtn" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">X</span>
</button>


<p class="border-bottom border-success">sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>

<button id="btnpppp">Love JQuery Button</button>

<p>I love JQuery</p>


<button id="btnToggleClass" class="btn btn-primary">Toggle class</button>



<button id="btnTestCss" class="btn btn-primary bg-black text-white p-2 border-0">Test change Css usign Jquery</button>

<div id="testCssDiv">zaid abdelrahmman sobhi albaik</div>


<button id="btnTestDim" class="btn btn-primary">Text Dimentions</button>


<div id="dimTest" class="bg-black text-white">dimentions</div>


<div>
    Hi I am parent
    <p id="childItem">hi i am child <u>Press on me</u></p>
</div>


<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p id="sssitem"><u style="border-bottom:4px solid #0F0">sssssssssssssssssssssssssssssssssssssssss</u></p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>

<p class="testNot">sssssssssssssssssssssssssssssssssss</p>
<p class="testNot">sssssssssssaaassssssssssssssssssssssssssss</p>
<p class="testNot">sssssssssszzzsssssssssssssssssssssssssssss</p>
<p class="testNot">sssssssssszzzsssssssssssssssssssssssssssss</p>
<p class="testNot">sssssssssssssssssssssssssssssssssssssssss</p>
<p class="testNot">sssssssssssssssssssssssssssssssssssssssss</p>
<p class="testNot">sssssssssssssssssssssssssssssssssssssssss</p>

<div id="divTestCustomEvent" class="container bg-black rounded-pill">

    <button id="btnCheckOnHandlerEvents" class="btn btn-danger m-3 text-white p-3 border-4 rounded-pill">Check on mehtods for handler events</button>

</div>


<button id="btnCustomEvent">Test custom event</button>
<p id="TestCLickEevent" class="bg-info">Tessst : <u>TEST ClickMe</u></p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssssssssssssssssssssssssss</p>

<a href="https://www.google.com" target="_blank" id="googleLink">Go TO Goolge</a>

<p id="TestOnMapMultiEvent">Test Multi Event </p>

<input type="text" />

<p id="TextKeyUpevent"></p>


<div class="container mt-4">
    <h2>Select Car</h2>

    <div class="form-group">
        <label for="exampleSelect">Select an car:</label>
        <select class="form-control" id="exampleSelect">
            <option>Toyota</option>
            <option>Hyundia</option>
            <option>Nissan</option>
            <option>GMC</option>
        </select>
    </div>
</div>


<h4 id="carSelected"></h4>

<div id="oneEventDivsss">Click Me and event will be runned only once</div>
<textarea style="height:200px;width:200px;"> Click me to select this text
</textarea>


<div id="testScrollDiv" class="position-fixed bg-black text-white fw-bold border-1 border-danger rounded-circle text-center" style="width:60px; padding:10px; height:60px; right:20px; bottom:70px;">Up</div>


<form id="formSubmit" class="form-check">
    <input id="username" type="text" name="Username" />
    <input type="submit" />
</form>

<form class="form-check">
    <input type="checkbox" value="v1" />
    <input type="checkbox" value="v2" />
    <input type="checkbox" value="v3" />
</form>

<form>
    <label for="sdd">v1</label>
    <input id="sdd" type="radio" name="gender" value="v1" />
     
    <input type="radio" name="gender" value="v2" />
     
    <input type="radio" name="gender" value="v3" />
</form>

 

<a asp-protocol="https"
   asp-host="localhost:7096"
   asp-area="Payments"
   asp-controller="Home"
   asp-action="Index"
   asp-route-id="1">https-localhost-Payments-Home-Index-1</a>

<span id="validationText"></span>

<button id="btnTestAPI">TestAPI With Cors Enalbed</button>
 
@* ------------------------------------------------------------------------------------------*@




