@{
    ViewData["Title"] = "Sign In";
}

@* 
<div class="loginDiv container">
    <h1 class="text-center">Login</h1>
    <button class="btn btn-danger btn-lg" style="width: 250px;">Login</button>
</div> *@

@* <div class="login-container">
    <h1 class="text-center">Login</h1>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username">
    </div>
    <br />
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password">
    </div>
    <br />
    <button id="login-button" class="btn btn-primary">Sign In</button>
</div> *@

