@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (TempData["SuccessData"] != null)
{
    <h1 class="text-success">
        @TempData["SuccessData"]
    </h1>
}
 